*{
    font-family: "Open Sans", sans-serif;
}
body{
    margin: 0px;
    background-color: aliceblue;
}
.container{
    width: 800px;
    height: auto;
    margin: 10px auto;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0px 0px rgba(0,0,0,.1);
}
.main-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.logo-holder > a > img{
    width: 55px;
    height: 55px;
    margin: 20px;
    padding: 5px;
}
.search-holder{
    padding-top: 40px;
}
.search-holder > form > input[type="search"]{
    border: 1px solid gainsboro;
    padding: 5px;
}
.search-holder > form >button[type="submit"]{
    border: 0px;
    background-color: black;
    color: white;
    padding: 6px;
    margin-left:-5px;
}
.main-menu{
    background-color: black;
    color: white;
}
.main-menu > ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: start;
    list-style-type: none;
}
.main-menu > ul > li > a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
.main-menu > ul > li > a:hover{
    background-color: orange;
}
.drop{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    position: absolute;
    display: none;
}
.drop >li > a{
    color: white;
    text-decoration: none;
    padding: 15px;
    background-color: teal;
    display: inline-block;
    width: 100%;
}
.drop > li > a:hover{
    background-color: orange;
}
.main-menu > ul > li:hover .drop{
    display: block;
}
.content-holder{
    display: flex;
    justify-content: space-between;
    background-color: lightskyblue;
    border-bottom: 1px solid gainsboro;
}
.content-holder .content{
    padding: 25px;
    background-color: white;
    width: 80%;
}
.content-holder .content h1 ~ h2{
    font-size:1em;
    color: bisque;
}
.slidbar-holder{
    padding: 25px;
    width: 20%;
}
.slidbar-holder .slidbar h3{
    color:lightgreen;
}
.slidbar-holder .slidbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.slidbar-holder .slidbar ul > li > a{
    color: white;
    text-decoration: none;
}
.slidbar-holder .slidbar ul > li > a:hover{
    color: orange;
}
.footer-holder{
    display: flex;
    background-color: rgb(42, 42, 42);
    color: white;
    justify-content: space-around;
}
.footer{
    padding: 25px;
    font-size: small;
}
.footer-holder .footer a > img{
    height: 60px;
    width: 60px;
}
.footer-holder .footer h3{
    color: lightgreen;
} 
.footer-holder .footer h4 {
    color: lightgreen;
}
.footer-holder .footer ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.footer-holder .footer ul > li > a{
    color: white;
    text-decoration: none;
}
.footer-holder .footer ul > li > a:hover{
    color:orange;
}
.site-footer{
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}
.site-footer p{
    margin: 0px;
}

/* Services and Products Page */
.Service-Holder,
.Product-Holder{
    display: grid;
    grid-template-columns: auto auto auto;
}
.service,
.product{
    padding: 20px;
    border: 1px solid gainsboro;
}
.service a,
.product a{
    text-decoration: none;
    color: teal;
}
.product img{
    width: 100%;
    height: auto;
}
/* Services and Products Page */

/* About page */
.about-holder{
    padding: 25px;
}
/* About page */

/* Contact page  */
.gmap{
    width: 100%;
    height: 400px;
    border: 1px solid gainsboro;
}
.gmap iframe{
    width: 100%;
    height: 400px;
}
.contct-detail{
    display: flex;
    justify-content: space-between;
}
.contct-form,
.time-contant{
    width: 50%;
    padding: 25px;
}
.contct-form form{
    display: flex;
    flex-direction: column;
}
.contct-form form input, 
.contct-form form textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
}
.contct-form form button{
    display: inline-block;
    width:105%;
    padding: 10px;
}
/* Contact page  */